.container {
  margin: 40px;
}

.btn {
  border: none;
  border-radius: 15px;
  background-color: lightblue;
  color: white;
  padding: 10px;
  margin: 15px;
}

.anotherClass{
  color: rgb(56, 81, 20);
}